@{
    ViewBag.Title = "Contact";
}

    <div class="jumbotron">

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            Skanderborgvej 20<br />
            8260 Viby J<br />
            <abbr title="Tlf">P:</abbr>
            82502522
        </address>

        <address>
            <strong>Kundeservice:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
</div>