@model IEnumerable<HomeDepotWebApp.Models.Tool>

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Benn & Fix</h1>
        <p class="lead">Udlejning af værktøjer til istandsættelse, havearbejde og boligforbedring</p>
    </div>
    <div class="jumbotron">
        <h2>Produkter</h2>
        <div class="d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <div class="p-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5IFsLM0ttrThFX7Cz9WyjAfYF-dgq3I4j2m5eFu_0uBZAeu6I" style="width:240px; height:auto"/>
            <p>@item.Name</p>
            </div>
        }

        </div>
    </div>
</body>
</html>
